:root{
    --cor-de-fundo: #44e84f;
}
body{
    background-color: var(--cor-de-fundo);
}
img{
    width: 10%;
}
header{
display: flex;
align-items: center;
justify-content: space-around;
}

/*https://www.figma.com/file/q9FnAMdvpvCbQCTrAH56WU/Untitled?type=design&node-id=0-1&mode=design&t=obhbsYWlYw4VWHiA-0